body {
  background: #222222;
  font-family: "Inter", sans-serif;
}

.pointer {
  cursor: pointer;
}

.scale_on_hover {
  transition: all 0.3s;
}

.scale_on_hover:hover {
  transform: scale(1.1);
}
